/*  MOBILE S */
@media screen and (min-width: 600px) {
    :root {
         --sidebar-width: 250px;
    }
    
    /* Sidebar */

    .sidebar {
        padding: 10px 20px;
    }

    .logo-full {
        display: none;
        width: 70%;
    }

    .logo-small {
        display: inline-block;
    }

    .sidebar-nav span {
        display: inline;
    }

    .playlist > * {
        display: block;
    }
    
    .profile span {
        display: inline;
    }
}
/* TABLET MD */
@media screen and (min-width: 700px) {
    .col {
        width: calc(100% / 4 - (10px * 3) / 4);
    }
}
/* DESKTOP LG */
@media screen and (min-width: 1100px) {
    .col {
        width: calc(100% / 6 - (10px * 5) / 6);
    }
}